* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    image resolution: 100%;
}
body {
    /*background-color: rgb(214, 170, 38);*/
    background-image: url(images/paint.jpg);
    background-size: cover;
}
h1 {
    color:maroon;
    font-family: 'Cambria';
    text-align: center;
    margin: 40px 30px;
}
h2 {
    color:darkred;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color:brown;
}
p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    margin: 30px auto;
    padding: 20px;
    width: 800px;
}
d1 {
    line-height: 30px;
    font-family:'Lucida Sans';
}
dt {
    font-family: 'Lucida Sans';
    background-color:burlywood;
    margin-top: 30px;
    padding: 5px;
}
dd {
    background-color:beige;
    font-family: monospace;    
    font-size: 18px;
    text-indent: 40px;
    text-align: justify;
    width: 100%;
    height: 100%;
    line-height: 30px;
    padding: 10px;
    box-sizing:border-box;
}
a {
    color:firebrick;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 30px;
    padding: 20px;
}
.koleksi {
    width: 50px;
    margin: 20px auto;

}
d1 img {
    background-color: beige;
    width: 200px;
    /*border-top-left-radius: 50px;*/
    border-radius: 100px;
    float:left;
    /*margin-top: 10px;
    margin-right: 20px;*/
    margin: 10px 20px 10px 0px;
    padding: 10px;
}
.clear {
    clear: left;
}
.footer {
    margin-left: 90px;
    text-align: center;
}